<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Paneli</title>
    <!-- Bootstrap CSS dosyası -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Kullanıcı Paneli</h2>
        <p>Bu sayfa, "user" rolüne sahip kullanıcılar için özel olarak tasarlanmıştır.</p>
        <p>Ek özellikler veya içerik buraya eklenebilir.</p>
    </div>
    <!-- Bootstrap JS dosyası -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
